# Blacklist - exclude everything except npm defaults such as LICENSE, etc
*
!*/

# Whitelist - css/
!css/**/*.css

# Whitelist - dist/
!dist/**/*.js
!dist/**/*.js.map

!dist/**/*.css

# Whitelist - lib/
!lib/**/*.d.ts

!lib/**/*.js
!lib/**/*.js.map

!lib/**/*.mjs
!lib/**/*.mjs.map

!lib/**/*.css

# Whitelist - src/
!src/**/*.ts
!src/**/*.d.ts

!src/**/*.js
!src/**/*.js.map

!src/**/*.css

# Blacklist - src/ test files
src/**/*.test.ts
src/**/*.test.d.ts
src/**/*.test.js
src/**/*.test.js.map

# Whitelist - typings/
!typings/*.d.ts

# Whitelist - addons/addon-webgpu/
!addons/addon-webgpu/package.json
!addons/addon-webgpu/lib/**/*.js
!addons/addon-webgpu/lib/**/*.js.map
!addons/addon-webgpu/lib/**/*.mjs
!addons/addon-webgpu/lib/**/*.mjs.map
!addons/addon-webgpu/typings/*.d.ts

# Blacklist - (normal behavior) these will override any whitelist
headless/
typings/xterm-headless.d.ts
